# Data Source

[English Premier League](https://datahub.io/core/english-premier-league#readme)

In [2]:
import pandas as pd

In [4]:
def read_csv(fh,path):
    handle=path+fh
    df=pd.read_csv(handle,encoding='utf-8',sep=',')
    return df

# function for dataframe shape, returns shape
def df_shape(df,name):
    rows=df.shape[0]
    cols=df.shape[1]
    print(f'{name} Data Frame\n{'-'*25}\nRows: {rows}\nColumns: {cols}\n\n')

def df_columns(df,name):
    cols=df.columns
    print(f'{name} Columns\n{'-'*20}\n')
    for col in cols:
        print(col)

def check_columns_match(dataframes):
    if not dataframes:
        return 'Error, no dataframes to compare'  # Handling case of an empty list
    
    first_df_columns = dataframes[0].columns
    for df in dataframes[1:]:
        if not df.columns.equals(first_df_columns):
            return 'Error, columns do not match'
    return 'Success, all columns match'

# function for nulls, returns a dataframe with nulls
def df_nulls(df):
    null_counts=df.isna().sum()
    null_percentages=round((df.isna().sum()/df.shape[0])*100,2)

    # data frame for results
    nulls_df=pd.DataFrame({
        'Nulls':null_counts,
        'Nulls (%)':null_percentages
    })

    return nulls_df

def datatypes(df):
    print(df.dtypes)

In [8]:
path = 'C:\\Users\\namb2\\OneDrive\\Documents\\GitHub\\BAIS3140_final_project_repo\\data\\raw_data\\'

season_9_10=read_csv('season-0910.csv',path)
season_10_11=read_csv('season-1011.csv',path)
season_11_12=read_csv('season-1112.csv',path)
season_12_13=read_csv('season-1213.csv',path)
season_13_14=read_csv('season-1314.csv',path)
season_14_15=read_csv('season-1415.csv',path)
season_15_16=read_csv('season-1516.csv',path)
season_16_17=read_csv('season-1617.csv',path)
season_17_18=read_csv('season-1718.csv',path)
season_18_19=read_csv('season-1819.csv',path)
season_19_20=read_csv('season-1920.csv',path)
season_20_21=read_csv('season-2021.csv',path)
season_21_22=read_csv('season-2122.csv',path)
season_22_23=read_csv('season-2223.csv',path)
season_23_24=read_csv('season-2324.csv',path)

In [12]:
dataframes=[season_9_10,season_10_11,season_11_12,season_12_13,season_13_14,
            season_14_15,season_15_16,season_16_17,season_17_18,season_18_19,season_19_20,
           season_20_21,season_21_22,season_22_23,season_23_24]
names=["09-10", "10-11", "11-12", "12-13", "13-14", "14-15", "15-16", "16-17", "17-18", "18-19",'19-20','20-21','21-22','22-23','23-24']


for df,name in zip(dataframes,names):
    df_shape(df,name)

09-10 Data Frame
-------------------------
Rows: 380
Columns: 22


10-11 Data Frame
-------------------------
Rows: 380
Columns: 22


11-12 Data Frame
-------------------------
Rows: 380
Columns: 22


12-13 Data Frame
-------------------------
Rows: 380
Columns: 22


13-14 Data Frame
-------------------------
Rows: 380
Columns: 22


14-15 Data Frame
-------------------------
Rows: 380
Columns: 22


15-16 Data Frame
-------------------------
Rows: 380
Columns: 22


16-17 Data Frame
-------------------------
Rows: 380
Columns: 22


17-18 Data Frame
-------------------------
Rows: 380
Columns: 22


18-19 Data Frame
-------------------------
Rows: 210
Columns: 22


19-20 Data Frame
-------------------------
Rows: 380
Columns: 22


20-21 Data Frame
-------------------------
Rows: 380
Columns: 22


21-22 Data Frame
-------------------------
Rows: 380
Columns: 22


22-23 Data Frame
-------------------------
Rows: 380
Columns: 22


23-24 Data Frame
-------------------------
Rows: 380
Columns: 22

In [5]:
# view columns for each
for df,name in zip(dataframes,names):
    df_columns(df,name)
    print(f'{'-'*20}\n\n')

09-10 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


10-11 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


11-12 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


12-13 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


13-14 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


14-15 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


15-16 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


16-17 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


17-18 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------


18-19 Columns
--------------------

Date
HomeTeam
AwayTeam
FTHG
FTAG
FTR
HTHG
HTAG
HTR
Referee
HS
AS
HST
AST
HF
AF
HC
AC
HY
AY
HR
AR
--------------------

In [14]:
# check if they match
check_columns_match(dataframes)

'Success, all columns match'

In [22]:
# continue to vertically merge
seasons_09_24=pd.concat(dataframes,ignore_index=True)

# review
seasons_09_24.head()

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,15/08/09,Aston Villa,Wigan,0,2,A,0,1,A,M Clattenburg,...,5,7,15,14,4,6,2,2,0,0
1,15/08/09,Blackburn,Man City,0,2,A,0,1,A,M Dean,...,9,5,12,9,5,4,2,1,0,0
2,15/08/09,Bolton,Sunderland,0,1,A,0,1,A,A Marriner,...,3,13,16,10,4,7,2,1,0,0
3,15/08/09,Chelsea,Hull,2,1,H,1,1,D,A Wiley,...,12,3,13,15,12,4,1,2,0,0
4,15/08/09,Everton,Arsenal,1,6,A,0,3,A,M Halsey,...,5,9,11,13,4,9,0,0,0,0

In [24]:
# check for nulls
seasons_09_24_nulls_df=df_nulls(seasons_09_24)

seasons_09_24_nulls_df

          Nulls  Nulls (%)
Date          0        0.0
HomeTeam      0        0.0
AwayTeam      0        0.0
FTHG          0        0.0
FTAG          0        0.0
FTR           0        0.0
HTHG          0        0.0
HTAG          0        0.0
HTR           0        0.0
Referee       0        0.0
HS            0        0.0
AS            0        0.0
HST           0        0.0
AST           0        0.0
HF            0        0.0
AF            0        0.0
HC            0        0.0
AC            0        0.0
HY            0        0.0
AY            0        0.0
HR            0        0.0
AR            0        0.0

In [26]:
# rename columns with proper context
column_renames = {
    'Date': 'Match Date',
    'HomeTeam': 'Home Team',
    'AwayTeam': 'Away Team',
    'FTHG': 'Full Time Home Team Goals',
    'FTAG': 'Full Time Away Team Goals',
    'FTR': 'Game Result',
    'HTHG': 'Half Time Home Team Goals',
    'HTAG': 'Half Time Away Team Goals',
    'HTR': 'Half Time Result',
    'Referee': 'Match Referee',
    'HS': 'Home Team Shots',
    'AS': 'Away Team Shots',
    'HST': 'Home Team Shots on Goal',
    'AST': 'Away Team Shots on Goal',
    'HF': 'Home Team Fouls Committed',
    'AF': 'Away Team Fouls Committed',
    'HC': 'Home Team Corners',
    'AC': 'Away Team Corners',
    'HY': 'Home Team Yellow Cards',
    'AY': 'Away Team Yellow Cards',
    'HR': 'Home Team Red Cards',
    'AR': 'Away Team Red Cards'
}

# rename columns
seasons_09_24=seasons_09_24.rename(columns=column_renames)

# review
seasons_09_24.columns

Index(['Match Date', 'Home Team', 'Away Team', 'Full Time Home Team Goals',
       'Full Time Away Team Goals', 'Game Result', 'Half Time Home Team Goals',
       'Half Time Away Team Goals', 'Half Time Result', 'Match Referee',
       'Home Team Shots', 'Away Team Shots', 'Home Team Shots on Goal',
       'Away Team Shots on Goal', 'Home Team Fouls Committed',
       'Away Team Fouls Committed', 'Home Team Corners', 'Away Team Corners',
       'Home Team Yellow Cards', 'Away Team Yellow Cards',
       'Home Team Red Cards', 'Away Team Red Cards'],
      dtype='object')

In [30]:
# export to xlsx
seasons_09_24.to_excel('C:\\Users\\namb2\\OneDrive\\Documents\\GitHub\\BAIS3140_final_project_repo\\data\\raw_data\\prem_league_wide_09_24.xlsx',index=False)